.text-task{
    font-size: 12px;
    
}

.bg-ppad {
        --background: linear-gradient(197deg, rgba(41,47,51,1) 0%, rgba(35,38,40,1) 45%, rgba(131,150,150,1) 100%) !important;
}

h2, h4, p {
    color: white !important;
    opacity: 1;
}

.ion-text-capitalize{
    color: white !important;
    text-transform: capitalize !important;
}

.align-row{
    vertical-align: middle;
    border: 2px solid #fff;
    opacity: 0.5;
    background-color: #cc6119;
    border-radius: 20px;
    
}

.num-task{
    margin-top: 5px !important;
    border-radius: 15px !important;
    padding: 5px 8px !important;
}

