<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button *ngIf="canGoBack" defaultHref="previousUrl"></ion-back-button>
            <ion-menu-button *ngIf="!canGoBack"></ion-menu-button>
       </ion-buttons>
    <ion-title>Add New Vehicle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page">
  

        <div class="card-div">
          
            <div class="class-title">
                Car Description
            </div>
  
          <ion-card >
              <div >                
                  <ion-grid>
                      <ion-row >
                        <ion-col>
                          <ion-label class="card-subtitle">
                              Vin Number: 
                          </ion-label>
                          <ion-input class="edit-input" [(ngModel)]="vinNumber" ></ion-input>
                        </ion-col>
                      </ion-row >
                      <ion-row >
                        <ion-col>
                          <div class="card-subtitle">
                            <ion-label>
                            Stock No: 
                            </ion-label> 
                          </div> 
                            <ion-input class="edit-input" [(ngModel)]="StockNumber" ></ion-input>                       
                          <div class="card-subtitle">
                              <ion-label>
                                Status: 
                              </ion-label> 
                          </div>
                            <ion-input class="edit-input" [(ngModel)]="Status" ></ion-input>
                        </ion-col>
                      </ion-row>
                      <ion-row>
                        <ion-col>
                            <div class="card-subtitle">
                              <ion-label>
                                Make:
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="make" type="text" ></ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                Model: 
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="model"  type="text"> </ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                Model year: 
                              </ion-label>
                            </div>
                            <ion-input class="edit-input" [(ngModel)]="modelYear" type="text"> </ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                Color: 
                              </ion-label>
                            </div>
                            <ion-input class="edit-input" [(ngModel)]="color" type="text"> </ion-input>
                        </ion-col>
                        <ion-col>
                            <div class="card-subtitle">
                              <ion-label>
                                Fuel Type: 
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="fuelType" type="text"></ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                Engine: 
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="engine" type="text"></ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                Transmission: 
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="transmission" type="text"></ion-input>
                            <div class="card-subtitle">
                              <ion-label>
                                trim: 
                              </ion-label>
                            </div> 
                            <ion-input class="edit-input" [(ngModel)]="trim" type="text"></ion-input>
                        </ion-col>
                      </ion-row>
                  </ion-grid>  
             </div> 
          </ion-card>
  
          <div class="class-title">
              Odometer Information
          </div>
          <ion-card >
              <div >                
                  <ion-grid>
                      <ion-row>
                        <ion-col>
                            <ion-label class="label-text">Purchase Miles</ion-label>
                            <ion-input class="edit-input" [(ngModel)]="PurchaseMiles" ></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-label class="label-text">Current Miles</ion-label>
                            <ion-input class="edit-input" [(ngModel)]="CurrentMiles" ></ion-input>
                        </ion-col>
                      </ion-row>
                  </ion-grid>  
            </div> 
          </ion-card>
  
          <div class="class-title">
              Vehicle Cost
          </div>
          <ion-card >
              <div >                
                  <ion-grid>
                      <ion-row>
                        <ion-col>
                            <ion-label class="label-text">Purchase Date</ion-label>
                            <ion-input class="edit-input" [(ngModel)]="PurchaseDate" type="date"></ion-input>
                        </ion-col>
                        <ion-col>
                            <ion-label class="label-text">Original Cost</ion-label>
                            <ion-input class="edit-input" [(ngModel)]="OriginalCost" type="num"></ion-input>
                        </ion-col>
                      </ion-row>
                  </ion-grid>  
            </div> 
          </ion-card>
          
          <ion-button color='primary' expand='block' (click)="createVehicle()">
              CREATE VEHICLE
          </ion-button>
          
        
        </div>
  </ion-content>
