<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>VEHICLES</ion-title>
    <ion-buttons slot="end" class="icon-end" >
      <ion-button (click)="addNewCar()">
        <ion-icon slot="icon-only" name="add-circle"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="card-background-page" >
  <div *ngIf="vehicles?.Data">
    <div class="card-div" *ngFor="let vehicle of vehicles?.Data ">
    <ion-card  [routerLink]="'/details-vehicle/' + vehicle.VehicleID" routerDirection="forward">
        <div class="card-overlay" >
          <ion-grid>
            <ion-row text-center>
                <div class="card-title">{{vehicle.vinNumber}}</div>
            </ion-row>
            <ion-row>
              <ion-col>
                  <div class="card-subtitle">Make: {{vehicle.make}}</div>
                  <div class="card-subtitle">Model: {{vehicle.model}}</div>
                  <div class="card-subtitle">Model year: {{vehicle.modelYear}}</div>
                  <div class="card-subtitle">Color: {{vehicle.color}}</div>
              </ion-col>
              <ion-col>
                  <div class="card-subtitle">Fuel Type: {{vehicle.fuelType}}</div>
                  <div class="card-subtitle">Engine: {{vehicle.engine}}</div>
                  <div class="card-subtitle">Transmission: {{vehicle.transmission}}</div>
                  <div class="card-subtitle">trim: {{vehicle.trim}}</div>
              </ion-col>
            </ion-row>
          </ion-grid>          
          
        </div> 
    </ion-card>
    </div>
  </div>
  <div *ngIf="!vehicles?.Data">
      <div >
          <ion-card  *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
              <div class="card-overlay" >
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </div>
          </ion-card>
      </div>
  </div>
   <ion-infinite-scroll threshold="1000px" (ionInfinite)="loadOrders($event)">
     <ion-infinite-scroll-content
       loadingSpinner="bubbles"
       loadingText="Loading Orders..."> 
   </ion-infinite-scroll-content>
 </ion-infinite-scroll>
 
 </ion-content>
