<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Orders</ion-title>
    <ion-buttons slot="end" class="icon-end" >
        <ion-button (click)="addNewOrder()">
          <ion-icon slot="icon-only" name="add-circle"></ion-icon>
        </ion-button>
      </ion-buttons>
  </ion-toolbar>
</ion-header>

  <ion-content class="card-background-page" >
  <div *ngIf="orders?.Data">
   <div class="card-div" *ngFor="let order of orders?.Data" padding-top>
    <ion-card  [routerLink]="'/details-order/' + order.OrderID" routerDirection="forward">
      <ion-ripple-effect></ion-ripple-effect>
        <div class="card-overlay" >
      <h1 class="card-title">{{order.make}} - {{order.model}}</h1>
      <p class="card-subtitle">{{order.vinNumber}}</p>
      <p class="card-subtitle">Year: {{order.vinNumber}}</p>
      <p class="card-subtitle">Color: {{order.color}}</p>
      <p class="card-subtitle">Order: {{order.OrderID}}</p>
          </div>
    </ion-card>
   </div>
  </div>
  <div *ngIf="!orders?.Data">
    <ion-card *ngFor="let number of [0,1,2,3,4,5,6,7,8,9,10]">
      <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
      <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
    </ion-card> 
  </div> 
    <ion-infinite-scroll threshold="250px" (ionInfinite)="loadOrders($event)">
      <ion-infinite-scroll-content
        loadingSpinner="bubbles"
        loadingText="Loading Orders..."> 
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
  
  </ion-content>
