<ion-header>
    <ion-toolbar color="success">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
          </ion-buttons>
      <ion-title>Vin Number: {{vinNumber}}</ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content class="card-background-page">
  

      <div *ngIf="vehicle.Data" class="card-div">
        <ion-card >
            <div class="card-overlay" >

                <ion-grid>
                    <ion-row text-center>
                        <div class="card-title">{{vehicle.Data.vinNumber}}</div>
                    </ion-row>
                    <ion-row>
                      <ion-col>
                          <div class="card-subtitle">Make: {{vehicle.Data.make}}</div>
                          <div class="card-subtitle">Model: {{vehicle.Data.model}}</div>
                          <div class="card-subtitle">Model year: {{vehicle.Data.modelYear}}</div>
                          <div class="card-subtitle">Color: {{vehicle.Data.color}}</div>
                      </ion-col>
                      <ion-col>
                          <div class="card-subtitle">Fuel Type: {{vehicle.Data.fuelType}}</div>
                          <div class="card-subtitle">Engine: {{vehicle.Data.engine}}</div>
                          <div class="card-subtitle">Transmission: {{vehicle.Data.transmission}}</div>
                          <div class="card-subtitle">trim: {{vehicle.Data.trim}}</div>
                      </ion-col>
                    </ion-row>
                </ion-grid>  
           </div> 
        </ion-card>
      
        <ion-grid *ngIf="vehicle?.Orders"> 
          <ion-row>
              <ion-col [size]="2">
                  <p text-center>Order ID</p>
                </ion-col>
                <ion-col [size]="5">
                  <p text-center>Date Start</p>
                </ion-col>
                <ion-col [size]="5">
                  <p text-center>Status</p>
                </ion-col>
          </ion-row>
          <div *ngFor="let order of vehicle?.Orders">
            <ion-row [routerLink]="'/details-order/' + order.OrderID" class="align-row" padding-top padding-bottom margin-top>
                <ion-col [size]="2">
                    <p text-center class="text-order">{{order.OrderID}}</p>
                  </ion-col>
                  <ion-col [size]="5">
                    <p text-center class="text-order">{{order.Date}}</p>
                  </ion-col>
                  <ion-col [size]="5">
                    <p text-center class="text-order">{{order.Status}}</p>
                  </ion-col>
            </ion-row>
          </div>
        </ion-grid>
      
      </div>


      <div *ngIf="!vehicle.Data">
          <ion-card >
              <div class="card-overlay" >
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
                  <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
              </div>
          </ion-card>    

      </div>
        

</ion-content>
