<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Repair No: {{task?.TaskInfo.OrderSq}}</ion-title>
    <ion-buttons slot="end" class="icon-end" >
        <ion-button (click)="EditTask()">
          <ion-icon slot="icon-only" name="create"></ion-icon>
        </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding *ngIf="task" class="background-page">

  <h2>Repair </h2>
<ion-grid>
  <ion-row>
    <ion-col [size]='2' class="No-data">
      <ion-label class="title-data">No </ion-label>
      <ion-badge color="primary" class="badge-data">{{task?.TaskInfo.OrderSq}}</ion-badge>
    </ion-col>
    <ion-col [size]='9'>
      <ion-label class="title-data">Title</ion-label>
      {{task?.TaskInfo.Name}}
    </ion-col>
  </ion-row>
  <ion-row margin-top class="No-data"> 
    <ion-col>
      <ion-label class="title-data">Start Date</ion-label>
      <div class="date-data">{{task?.TaskInfo.StartDate}} </div>
    </ion-col>
    <ion-col>
      <ion-label class="title-data">End Date </ion-label>
      <div class="date-data"> {{task?.TaskInfo.EndDate}} </div>
    </ion-col>
    <ion-col>
        <ion-label class="title-data">Status </ion-label>
        <div class="date-data"> <ion-badge color="primary">{{task?.TaskInfo.Status}}</ion-badge> </div>
    </ion-col>
  </ion-row>
  <ion-row margin-top class="No-data">  
    <ion-col >
      <ion-label class="title-data">Invoice Date </ion-label>
      <div> {{task?.TaskInfo.InvoiceDate}} </div>
    </ion-col>
      <ion-col>
        <ion-label class="title-data">Repair Cost </ion-label>
        <div class="date-data"> {{task?.TaskInfo.TotalCost}} </div>
     </ion-col>
  </ion-row>
  <ion-row margin-top class="No-data">       
      <ion-col>
          <ion-label class="title-data">Supplier</ion-label>
          <div class="date-data">{{task?.TaskInfo.NameSupplier}} </div>
      </ion-col>
    </ion-row>
  <div class="No-data" margin-top>
    <ion-row> 
      <ion-label class="summary-data"> 
        Summary
      </ion-label>
    </ion-row>
    <ion-row padding margin-bottom>
      <ion-label> 
        {{task?.TaskInfo.Summary}} 
      </ion-label>
    </ion-row>
  </div>
    <ion-row margin-top>
      <ion-label class="title-data" *ngIf="task?.Notes"> 
          Notes
      </ion-label>
    </ion-row>
    <div *ngFor="let note of task?.Notes" padding-top>
        <ion-row >
          <ion-col [size]='6' class="start-col"><ion-label>{{note.UserID}}</ion-label></ion-col>
          <ion-col [size]='6' class="end-col"><ion-label>{{note.Date}}</ion-label></ion-col>
        </ion-row>
    
    <ion-card color="primary">
      <ion-row>
        <div padding>
          {{note.Message}}
        </div>
      </ion-row>
    </ion-card>
  </div>
  <div margin-top>
    <ion-grid>
      <ion-row>
        Add Note
      </ion-row>
      <ion-row>
        
          <ion-textarea rows="6" cols="100%" placeholder="Enter any notes here..." [(ngModel)]="Message" class="textarea-note"></ion-textarea>
        
      </ion-row>
      <ion-row margin-top text-center>
        <ion-button shape="round" fill="outline" (click)="SaveNewNote()">Save Note</ion-button>
      </ion-row>
    </ion-grid>
  </div>
</ion-grid>
  
</ion-content>

<ion-content padding *ngIf="!task">

    <h2>Repair </h2>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-label>No </ion-label><ion-badge color="primary"><ion-skeleton-text animated style="width: 100%; background-color: darkgray;"></ion-skeleton-text></ion-badge>
      </ion-col>
      <ion-col>
        <ion-label>Title <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-label>Start Date <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text> </ion-label>
      </ion-col>
      <ion-col>
        <ion-label>End Date <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>  
      <ion-col>
        <ion-label>Invoice Date <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text> </ion-label>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-badge color="primary"><ion-skeleton-text animated style="width: 100%; background-color: darkgray;"></ion-skeleton-text></ion-badge>
      </ion-col>
    </ion-row>
    <ion-row> 
      <ion-label> 
        Summary:
      </ion-label>
    </ion-row>
    <ion-row padding-top margin-bottom>
   
          <ion-skeleton-text animated style="width: 40%"></ion-skeleton-text>
          <ion-skeleton-text animated style="width: 60%"></ion-skeleton-text> 
          <ion-skeleton-text animated style="width: 70%"></ion-skeleton-text>  
          <ion-skeleton-text animated style="width: 50%"></ion-skeleton-text>
      
    </ion-row>
    
    <div padding-top>
          <ion-row>
            <ion-col [size]='6'><ion-label><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-label></ion-col>
            <ion-col [size]='6'><ion-label><ion-skeleton-text animated style="width: 40%"></ion-skeleton-text></ion-label></ion-col>
          </ion-row>
      
      <ion-card color="primary">
        <ion-row padding>
                <ion-skeleton-text animated style="width: 60%; background-color: darkgray;"></ion-skeleton-text>
        </ion-row>
        <ion-row padding>
                <ion-skeleton-text animated style="width: 40%; background-color: darkgray;"></ion-skeleton-text>
        </ion-row>
      </ion-card>
    </div>
  </ion-grid>
    
  </ion-content>
